.left-align {
    text-align: left;
    line-height: 1.2;
}

.center-align {
    text-align: center;
    line-height: 1.5;
}

.right-align {
    text-align: right;
    line-height: 2.0;
}

.justify-align {
    text-align: justify;
    line-height: 1.8;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}